@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.dark.900');
    color: theme('colors.gray.100');
    font-family: theme('fontFamily.sans');
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}

body {
    background-color: #111827; /* gray-900 */
    color: #f3f4f6; /* gray-100 */
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
}
